*.class

# Package Files #
*.war
*.ear
/build
/eclipse
/bin

*.mtl
*.classpath
*.project
/.settings
/config
!/src/main/resources
/crash-reports
/logs
/mods
/resourcepacks
/saves
/screenshots
/options.txt
/libs
